.grid {
  display: grid;
  border-radius: 8px;
  grid-template-rows: 2fr auto 2fr;
  grid-template-columns: 240px 225px 242px 225px;
  grid-template-areas:
    ". titleXS titleM titleL"
    "pros termsXS termsM termsL"
    ". btnContainerXS btnContainerM btnContainerL";
  border: 1px solid #d4eaff;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.pros {
  grid-area: pros;
  text-align: left;
}

.letter {
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 11px;
  margin-right: 4px;
}

.title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  padding: 24px 13px 0 13px;
  border-bottom: 1px solid #d4eaff;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.titleXS {
  grid-area: titleXS;
}
.titleM {
  grid-area: titleM;
}
.titleL {
  grid-area: titleL;
}

.terms {
}

.termsXS {
  grid-area: termsXS;
}
.termsM {
  grid-area: termsM;
}
.termsL {
  grid-area: termsL;
}

.bigColumn {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    background: linear-gradient(180deg, #e8eeff 0%, #c2f6ff 100%), #f9fbff;
    position: absolute;
    top: -180px;
    left: 0px;
    width: calc(100%);
    height: 929px;
    border-radius: 8px;
    z-index: -1;
  }
}

.li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 70px;
  border-bottom: 1px solid #d4eaff;
  box-sizing: border-box;
  padding: 12px 25px 14px 22px;
}

.textCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 53px 0px 53px;
}

.positive {
  background-image: url("../images/check.svg");
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.negative {
  background-image: url("../images/cross.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btnContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 165px;
  box-sizing: border-box;
  padding: 33px 35px 35px 35px;
}

.btnContainerXS {
  grid-area: btnContainerXS;
}
.btnContainerM {
  grid-area: btnContainerM;
}
.btnContainerL {
  grid-area: btnContainerL;
}

.price {
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  padding-top: 2px;
  padding-left: 7px;
}
.monthPrice {
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 12px;
  padding-left: 3px;
}
