@font-face {
  font-family: "Proxima Nova Condensed";
  src: local("Proxima Nova Condensed"),
    url("./fonts/proximanovacond_regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova Condensed";
  src: local("Proxima Nova Condensed"),
    url("./fonts/proximanovacond_bold.ttf") format("truetype");
  font-weight: bold;
}
