.plans{
    &__list{
        margin: 0;
        padding: 0;
        list-style-type: none;
        
    }
    &__item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        &:first-child > div{
            background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
            & span{
                background-color: #fff;
            }
        }
    }
}

.button{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #E8178A;
    background: #fff;
    border: 1px solid #E8178A;
    border-radius: 3px;
    min-width: 120px;
    width: 100%;
    height: 50px;
    min-height: 45px;
    &:hover{
        background-color: #E8178A;
        color: #fff;
    }
    &:active{
        box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.15);
    }
    &_highlighted{
        color: #fff;
        background-color: #E8178A;
        &:hover{
            background: #D1157C;
            border: 1px solid #D1157C;
        }
    }
}