table {
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial";
    color: #000000;
    margin-bottom: 50px;
}

th {
    position: relative;
    padding: 25px 15px;
    max-width: 200px;
    height: 146px;
    text-align: center;
    box-shadow: inset 0px 1px 0 0px #D4EAFF;
    &:nth-child(3)::after{
        content: '';
        position: absolute;
        top: -17px;
        left: -5px;
        height: 1163px;
        width: calc(100% + 10px);
        z-index: -1;
        background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
        border-radius: 8px;
    }
}

td {
    border-top: 1px solid #D4EAFF;
    text-align: center;
    height: 70px;
    width: 130px;
    padding: 15px 35px;
}

tr{
    border-right: 0.5px solid #D4EAFF;
    border-left: 0.5px solid #D4EAFF;
    &:first-child{
        th{
            
            &:first-child {
                box-shadow: inset 1px 1px 0 0px #D4EAFF;
                border-top-left-radius: 8px;
            }
            &:last-child {
                box-shadow: inset -1px 1px 0 0px #D4EAFF;
                border-top-right-radius: 8px;
            }
        }
    }
    &:last-child{
        border-right: none;
        border-left: none;
        td{
            box-shadow: inset 0 -1px 0 0px #D4EAFF;
            &:first-child {
                box-shadow: inset 1px -1px 0 0px #D4EAFF;
                border-bottom-left-radius: 8px;
            }
            &:last-child {
                box-shadow: inset -1px -1px 0 0px #D4EAFF;
                border-bottom-right-radius: 8px;
            }
        }
    }
}
.first {
    border-right: 1px solid #D4EAFF;
    text-align: left;
    min-width: 240px;
    padding: 25px 30px 15px 20px;
    box-sizing: border-box;
}

.positive{
    background-image: url('../../images/icon.svg');
    background-size: 15px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.negative{
    background-image: url('../../images/icon2.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.table__header{
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}

.letter{
    font-family: "Proxima Nova Condensed";
    font-size: 22px;
    line-height: 26px;
}

.price{
    font-family: 'Proxima Nova Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #333333;
    padding-bottom: 5px;
}
.month{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.btn__container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1440px){
    table, .table__header, .price, .button{
        font-size: 22px;
    }
    .price{
        padding-bottom: 15px;
    }
    .letter{
        font-size: 26px;
    }
}